@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');



*{
  font-family: 'M PLUS 1p', sans-serif;
}


body{
  color:white;
  height: 100vh;
  background: #355c7d;
}

p{
  text-align: center;
  font-size: 0.7em;
}

.showWeek{
  text-align: center;
  width:140px;
  position: relative;
  top:-20px;
  border-radius:0px 0px 20px 20px;
  margin: 0 auto;
  padding: 10px;
  background: #28455d;
  cursor: pointer;
  color:rgba(255,255,255,0.6);
}

.registrera{
    border-radius: 0 0 10px 10px;
    background: #28455d;
    border:none;
    color:rgba(255,255,255,0.6);
    cursor: pointer;
    padding:10px;
}

#textKlickaI{
  background: rgba(255,255,255,0.7);
  color:rgba(0,0,0,0.8);
  padding:10px;
}

.datumInp{
  outline: none;
  border:none;
  background: #355c7d;
  color:rgba(255,255,255,0.8)
}

#rumsnummer{
  border-radius: 10px 10px 0 0;
}

h3, h5{
  text-align: center;
}
.labelInput {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 150px;
}

.labelInput input{
  visibility: hidden;
  position: absolute;
}


.labelInput img {
  width: 20px;
  margin: 10px;
  display: inline-block;
}

.schema{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.clickedRegister{
  position: absolute;
  margin: auto;
  top:0;
  left:0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: red;
}

.rumsnummerStyle{
  text-align: center;
  padding: 10px;
}
.schema > div{
  display: flex;
  flex-direction: column;
}

.schema form button {
  margin:20px;

}

.schema form input:nth-child(2){
  font-size: 0.9em;
}

.schema form >input{
  width:200px;
  margin: 20px;
  height: 30px;
  text-align: center;
  font-size: 1.3em;

}

.weekList{
  position: absolute;
  width: 100%;
  height: 90vh;
  background: #28455d;
  top:0;
  border-top: 2px solid rgba(255,255,255,0.6);
  border-bottom: 2px solid rgba(255,255,255,0.6)

}

.diven{
  position: relative;
}

.week {
  display: flex;
  flex-direction: column;
  padding: 0;

  list-style: none;

}
.week li{
  padding:10px;
  margin:0;
  text-align: center;
  margin: auto;
  cursor: pointer;
  width: 100%;
  transition-property: all;
  transition-duration: 0.5s;
}

.week li:hover{
  background: rgba(255,255,255,0.7);
  color:rgba(0,0,0,0.8)
}

/*
.week li:first-child:before {
  content: "Dagens datum";
  position: absolute;
  top:80px;
} */







.searchUser{
  display: flex;
  justify-content: center;
  height: 60px;

}

.searchUser input{
  margin: 10px;
  width:200px;
  text-align: center;
  font-size: 1.1em;
}



.searchUser button{
  width: 80px;
  margin: 10px;
  color:rgba(255,255,255,1);
  background:rgb(135, 78, 90);
}

.searchUser button:focus{
  outline:none;
}

.searchUser button:hover{
  background:rgba(210, 172, 86,0.6);
  cursor: pointer;
}
